body {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;

    >.lpk {
        width: 170px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 12;

        &:hover {
            >a {
                visibility: visible;
                opacity: 1;

                &:nth-of-type(1) {
                    transform: translatex(-90px)translatey(10px);
                }

                &:nth-of-type(2) {
                    transform: translatex(-90px)translateY(55px);
                }

                &:nth-of-type(3) {
                    transform: translatex(-90px)translateY(-35px);
                }

                &:nth-of-type(4) {
                    transform: translatex(-90px)translateY(-80px);

                }
            }
        }


        >figure {
            border-radius: 41% 59% 70% 30% / 32% 56% 44% 68%;
            width: 100px;
            height: 100px;
            position: absolute;
            border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
            animation: anime1 alternate 7s infinite;
            justify-content: center;
            align-items: center;
            display: flex;
            background-color: rgba(121, 34, 121, 0.497);

            >img {
                object-fit: cover;
                width: 70px;
                height: 70px;
                border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
                opacity: 0.8;


            }
        }

        >a {
            width: 45px;
            height: 45px;
            border: 2px solid black;
            border-radius: 50%;
            text-decoration: none;
            color: black;
            position: absolute;
            font-size: 10px;
            transition: 0.5s;
            visibility: hidden;
            opacity: 0;
            justify-content: center;
            align-items: center;
            display: flex;
            z-index: 1;


        }

        >span {
            border-radius: 69% 31% 78% 22% / 67% 67% 33% 33%;
            background-color: red;
            width: 110px;
            height: 110px;
            animation: anime2 infinite 8s alternate-reverse forwards;
            background-color: rgba(45, 45, 98, 0.582);
        }
    }
}

@keyframes anime1 {
    25% {
        border-radius: 41% 59% 70% 30% / 32% 56% 44% 68%;
    }

    50% {
        border-radius: 27% 73% 42% 58% / 38% 37% 63% 62%;

    }

    75% {
        border-radius: 70% 30% 76% 24% / 58% 69% 31% 42%;

    }

    100% {
        border-radius: 41% 59% 70% 30% / 32% 56% 44% 68%;

    }
}

@keyframes anime2 {
    25% {
        border-radius: 71% 29% 38% 62% / 61% 41% 59% 39%;
    }

    50% {
        border-radius: 29% 71% 38% 62% / 61% 67% 33% 39%;

    }

    100% {
        border-radius: 69% 31% 78% 22% / 67% 67% 33% 33%;

    }

}